# --- Metadata ----------------------------------------------------------------
metadata:
  name: Denial of Service Attacks, Binary, Training
  description: >
    This is a configuration file for training binary classifiers to
    classify network flows as benign or denial of service (DoS) attacks
    using the CIC-IDS-2017 benchmark dataset. 
  date_created: 2026-02-06


# -- Models -------------------------------------------------------------------
models:
  logistic_regression:
    module: sklearn.linear_model
    class: LogisticRegression
    scale_features: true
    hyperparameters:
      max_iter: 1000
      class_weight: balanced
      random_state: 76

  random_forest:
    module: sklearn.ensemble
    class: RandomForestClassifier
    scale_features: false
    hyperparameters:
      n_estimators: 100
      max_depth: 20
      class_weight: balanced
      random_state: 76
      n_jobs: 1
  
  xgboost:
    module: xgboost
    class: XGBClassifier
    scale_features: false
    hyperparameters:
      n_estimators: 100
      max_depth: 6
      learning_rate: 0.1
      random_state: 76


# -- Pipleine -----------------------------------------------------------------
pipeline:
  - step: Load raw data
    module: io
    function: load_data
    params:
      directory: data/raw
      filenames: [Wednesday-workingHours.pcap_ISCX.csv]

  - step: Remove missing and infinity
    module: processing
    function: clean_data
    params:
      missing: true
      infinite: true
      negative: false

  - step: Drop features
    module: processing
    function: drop_features
    params:
      drop: 
        - destination_port
        - fwd_header_length.1
        - average_packet_size
        - avg_fwd_segment_size
        - avg_bwd_segment_size
        - subflow_fwd_packets
        - subflow_fwd_bytes
        - subflow_bwd_packets
        - subflow_bwd_bytes
        - init_win_bytes_forward
        - init_win_bytes_backward
        - act_data_pkt_fwd
        - min_seg_size_forward
        - down_up_ratio
      zero_variance: true

  - step: Remove negative
    module: processing
    function: clean_data
    params:
      missing: false
      infinite: false
      negative: true

  - step: Prepare labels
    module: processing
    function: prepare_labels
    params:
      drop_labels: [Heartbleed]
      replace_labels:
        BENIGN: benign 
        DoS Hulk: dos
        DoS GoldenEye: dos
        DoS slowloris: dos
        DoS Slowhttptest: dos

  - step: Split data
    module: processing
    function: split_data
    params:
      random_state: 76

  - step: Keep features
    module: processing
    function: keep_features
    params:
      keep:
        - flow_duration
        - total_fwd_packets
        - fwd_packet_length_mean
        - bwd_packet_length_mean
        - fwd_packets_s
        - bwd_packets_s
        - fwd_iat_mean
        - bwd_iat_mean
        - active_mean
        - idle_mean

  - step: Save data splits
    module: io
    function: save_data_splits
    params:
      directory: data/processed/dos_binary
      prefix: dos_binary_sub

  - step: Train models
    module: training
    function: train_models
    params:
      models: models
      filename: dos_binary_results_sub.pkl