# --- Metadata ----------------------------------------------------------------
metadata:
  name: Denial of Service Attacks, Binary, Training
  description: >
    This is a configuration file for training binary classifiers to
    classify network flows as benign or denial of service (DoS) attacks
    using the CIC-IDS-2017 benchmark dataset. 
  date_created: 2026-01-27


# -- General ------------------------------------------------------------------
random_state: 76


# -- Models -------------------------------------------------------------------
models:
  logistic_regression:
    module: sklearn.linear_model
    class: LogisticRegression
    scale_features: true
    hyperparameters:
      max_iter: 1000
      class_weight: balanced
      random_state: 76

  random_forest:
    module: sklearn.ensemble
    class: RandomForestClassifier
    scale_features: false
    hyperparameters:
      n_estimators: 100
      max_depth: 20
      class_weight: balanced
      random_state: 76
      n_jobs: 1
  
  xgboost:
    module: xgboost
    class: XGBClassifier
    scale_features: false
    hyperparameters:
      n_estimators: 100
      max_depth: 6
      learning_rate: 0.1
      random_state: 76


# -- Pipleine -----------------------------------------------------------------
pipeline:
  - step: Load raw data
    module: utilities
    function: load_data
    params:
      filepath: data/raw/Wednesday-workingHours.pcap_ISCX.csv
      data_type: csv 
      clean_columns: true
  
  - step: Prepare labels
    module: processing
    function: prepare_labels
    params:
      exclude_values: [Heartbleed]
      replace_values:
        0:
          - BENIGN
        1:
          - DoS Hulk
          - DoS GoldenEye
          - DoS slowloris
          - DoS Slowhttptest

  - step: Drop features
    module: processing
    function: drop_features
    params:
      drop: 
        - destination_port
        - fwd_header_length.1
        - average_packet_size
        - avg_fwd_segment_size
        - avg_bwd_segment_size
        - subflow_fwd_packets
        - subflow_fwd_bytes
        - subflow_bwd_packets
        - subflow_bwd_bytes
        - init_win_bytes_forward
        - init_win_bytes_backward
        - act_data_pkt_fwd
        - min_seg_size_forward
        - down_up_ratio

  - step: Clean data
    module: processing
    function: clean_data

  - step: Split data
    module: processing
    function: split_data
    params:
      random_state: 76

  - step: Save data splits
    module: utilities
    function: save_data_splits
    params:
      filepath: 'data/processed/data_splits.pkl'

  - step: Train models
    module: training
    function: train_models
    params:
      models_config: models
      model_dir: models/
      model_file: dos_binary
      cv_n_jobs: 4